/* h1 {
    color: blue;
}

#judul {
    color: orange;
}

h2.belajar {
    color: green;
}

h2, h4, h5 {
    color: red;
} */

.warnaKelas {
    color: #aa356a;
}

#idwarna {
    background-color: #bccacd;
    padding: 0.4em;
}

h2 {
    color: #087d8d;
}

body {
    background-image: url(../img/4614.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

